.parent {
  text-align: center;
  overflow: auto;
  display: block;
  margin: auto;
}

h1{
  width: 100%;
  white-space: nowrap;
}

p, button {
  display: block;
  margin: auto;
  text-align: center;
  margin-top: 10px;
}

